*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url('loginimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.left{
    width: 30%;
    padding: 150px 0px 0px 0px;
}
.logo{
    position: relative;
    padding-left: 79px;
    color: #FFFFFF;
    font-size: 20px;
}
.sublogotext{
    height: 112px;
    padding-left: 80px;
    padding-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 54px;
    color: #FFFFFF;
    
}
.Sign-up-to-recipe-saver{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
    color: #000000;
}
.right{
    width: 50%;
    padding: 100px 0px 90px 150px;
    background-color: #FFFFFF;
}
.Sign-up-with-google{
    border-radius: 10px;
    background-color: #3246FA;
    font-family: 'Poppins', sans-serif;
    font-style: medium;
    font-size: 15px;
    padding: 9px 0px;
    border: 1px solid #3246FA;
    color: #F2F2F2;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    cursor: pointer;
}
.Sign-up-with-google:hover{
    background-color: #F2F2F2;
    color: #3246FA;
}
.email-address, .password{
    background-color: #DBDBDB;
    border-radius: 10px;
    width: 60%;
    padding: 11px 10px;
    border: 1px solid #DBDBDB;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.create-account{
    background-color: #FE6D73;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #F2F2F2;
    border-radius: 10px;
    padding: 6px 30px;
    border: 1px solid #FE6D73;
    outline: none;
    margin: 30px 0px;
    cursor: pointer;
}
.create-account:hover{
    background-color: #F2F2F2;
    color: #FE6D73;
}
.first{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
}
.name, .username{
    background-color: #DBDBDB;
    border-radius: 10px;
    width: 80%;
    padding: 11px 10px;
    border: 1px solid #DBDBDB;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.first, .second, .third, .agreement{
    margin: 10px 0px 0px 0px;
}

@media screen and (max-width: 800px){
    .left{
        width: 95%;
        padding-top: 50px;
    }
    .right{
        background: #FFFFFF;
        width: 90%;
        padding: 20px;
    }
    .Sign-up-with-google{
        font-size: 15px;
        padding: 9px 0px;
        margin-top: 12px;
        margin-bottom: 12px;
        width: 80%;
    }
    .sign-up{
        font-size: 20px;
        padding: 6px 30px;
        width: 70%;
        margin: 20px 0px;
    }
    .sublogotext{
        height: 100px;
        padding-left: 30px;
        padding-top: 50px;
        font-size: 25px;
        line-height: 40px;
    }
    .Sign-up-to-recipe-saver{
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 35px;
    }
    .split2{
        margin: 10px 0px 0px 0px;
    }
    .first{
        width: 90%;
    }
    .name, .username{
        width: 150%;
    }
    .email-address, .password{
        width: 80%;
    }
}