*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
}
footer{
    background: #000102;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFFFFF;
    padding: 30px;
    margin-top: 30px;
}
footer p{
    cursor: pointer;
}
footer h2{
    margin-bottom: 30px;
}
.recipesaver, .recipe, .more-info{
    width: 20%;
}
.icons{
    display: flex;
    font-size: 30px;
    padding: 10px 0px;
}
.fa{
    margin: 10px;
    cursor: pointer;
}
.fa:hover{
    color: lightgray;
}

@media screen and (max-width: 800px){
    .recipesaver, .recipe, .more-info{
        width: 100%;
        padding-bottom: 50px;
    }
    footer{
        padding: 20px;
        justify-content: left;
    }
    footer h2{
        margin-bottom: 0px;
    }
}