*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'poppins', sans-serif;
}

.first-img{
    width: 80%;
    margin: auto;
    padding-top: 2em;
}
.rectangle37{
    width: 100%;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 3em auto;
    padding: 5px;
}
.type-of-food{
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    background-color: rgba(236, 232, 232, 0.5);
    border-radius: 43px;
    margin: 3px;
    width: 10em;
    padding: 10px 20px;
    border: 1px solid rgba(236, 232, 232, 0.5);
}
.all{
    background-color: #FE6D73;
    color: white;
    border: 1px solid #FE6D73;
}
.first-3, .second-3, .third-3{
    width: 80%;
    margin: 6em auto;
    display: flex;
    justify-content: space-between;
}
.rectangle40a, .rectangle40b, .rectangle38{
    border-radius: 8px;
    width: 30%;
}

@media screen and (max-width: 1024px){
    .buttons{
        width: 90%;
        margin: 2em auto;
        padding: 10px;
    }
    .first-3, .second-3, .third-3{
        width: 80%;
        margin: 3em auto;
    }
}