body {padding: 0;
      margin: 0;
}
a {color: black;
     text-decoration: none;
}

/* styling of the first section */
.first .mobile {display: flex;
                justify-content: space-around;
}
.first .mobile .part_two button {margin-top: 35px;
                                 border: none;
                                 background-color: white;
                                 font-size: 28px;
                                 color: #777;
}
.first .desktop {width: 100%;
                 height: 100%;
                 background-color: #FE6D73;
                 color: white;
                 display: none;
                 transition:  20s linear;
}
.first .desktop .part_one ul li {text-align: center;
                                 font-size: 30px;
                                 font-family: cursive;
                                 padding-top: 30px;
                                 list-style: none;
                                 margin-left: -30px;
}
.first .desktop .part_two input {border-radius: 50px;
                                 height: 40px;
                                 width: 250px;
                                 border: none;
}
.first .desktop .part_two button {border: none;
                                  background-color: #FE6D73;
                                  font-size: 20px;
                                  color: white;
}
.first .desktop .part_two {display: flex;
                           justify-content: center;
                           margin-top: 50px;
}
.first .desktop .part_three {display: flex;
                             justify-content: center;
}
.first .desktop .part_three button:nth-child(1) {border-radius: 50px;
                                                 width: 110px;
                                                 height: 40px;
                                                 background-color: white;
                                                 border: none;
                                                 margin-top: 50px;
                                                 font-size: 20px;
}
.first .desktop .part_three button:nth-child(2) {border-radius: 50px;
                                                 width: 110px;
                                                 height: 40px;
                                                 background-color: #FE6D73;
                                                 border: 2px solid white;
                                                 color: white;
                                                 margin: 50px 0 0 20px;
}

/* styling of the third section */
.third {background-image: url('img/heroimage.png');
        width: 100%;
        height: 50vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.third .content {color: white;
                 padding: 100px 0 0 50px;
}

/* styling of the fourth section */
.four {margin-top: 50px;
}
.fourth {display: flex;
         justify-content: center;
}
.fourth .part_one, .fourth .part_two {flex: 1;
                                      margin: 5px;
}
.fourth .part_one img {height: 250px;
}
.fourth .part_one h5 {font-size: 12px;
}
.fourth .part_two img {height: 115px;
                       width: 135px;
}
.fourth .part_two h5 {font-size: 12px;
}

/* styling of the fifth section */
.fifth {margin-top: 50px;
}
.fifth h2 {font-size: 24px;
}
.fifth .slider_section figure .slide {display: flex;
                                      flex-wrap: wrap;
                                      justify-content: center;
}
.fifth .slide .part img {width: 150px;
                         margin: 5px 10px 5px 0;
}
.fifth .slide .part h5 {font-size: 12px; 
                        color: black;
}
.fifth .slider_section {overflow: hidden;
                        width: 100%;
                        height: fit-content;
}
.fifth .slider_section figure {position: relative;
                               width: 300%;
                               margin: 0;
                               left: 0;
                               animation: slide1 15s infinite;
}
.fifth .slider_section figure .slide {width: 33.3%;
                                      float: left;
}
/* slider  keyframe of the fifth first section */
@keyframes slide1 {
0% {
margin-left: 0%;
}
20% {
margin-left: 0%;
}
35% {
margin-left: 0%;
}
40% {
margin-left: -100%;
}
60% {
margin-left: -100%;
}
75% {
margin-left: -100%;
}
80% {
margin-left: -200%;
}
95% {
margin-left: -200%;
}
100% {
margin-left: -200%;
}
}

/* styling of the sixth section */
.sixth {margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
}
.sixth .part_one, .sixth .part_two {flex: 1;
                                    margin: 5px;
}
.sixth .part_one h3 {font-size: 20px;
}
.sixth .part_one p {font-size: 12px;
}
.sixth .part_two img {height: 180px;
                      width: 180px;
                      border-radius: 50%;
                      margin-top: 15%;
}

/* styling of the seventh section */
.seventh {margin-top: 20px;
}
.seventh h2 {font-size: 24px;
}
.seventh .slider_section figure .slide {display: flex;
                                        flex-wrap: wrap;
                                        justify-content: center;
}
.seventh .slide .part img {width: 150px;
                           margin: 5px 10px 5px 0;
}
.seventh .slide .part h5 {font-size: 12px;
}

/* styling of the eighth section */
.eighth {margin-top: 30px;
}
.eighth .part_two input {border: 1px solid black;
                         background-color: white;
                         font-size: 12px;
                         border-radius: 5px;
                         padding: 5px;
}
.eighth .part_two button {background-color: #FE6D73;
                          border: none;
                          font-size: 14px;
                          border-radius: 5px;
                          padding: 5px;
                          margin-left: 20px;
                          transition: .5s;
}
.eighth .part_two button:hover {background-color: white;
                                border: 1px solid #FE6D73;
                                color: #FE6D73;
}


/* Media queries for desktop size */
@media (min-width: 925px) { 
    
     /* first section */
    .first {display: flex;
    }
    .first .part_two {display: none;
    }
    .first .desktop {display: flex;
        background-color: white;
    }
    .first .desktop .part_one ul {display: flex;
    }
    .first .desktop .part_one ul li {font-size: 18px;
                                     color: black;
                                     margin-left: 20px;
                                     padding-top: 40px;
    }
    .first .desktop .part_two button {background-color: white;
                                      color: black;
    }
    .first .desktop .part_two {margin-top: 35px;
    }
    .first .desktop .part_three button:nth-child(1) {margin-top: 35px;
    }
    .first .desktop .part_three button:nth-child(2) {margin-top: 35px;
    }

         /* third section */
    .third {height: 80vh;
    }
    .third .content {color: white;
                     padding: 200px 0 0 200px;
    }
    .third .content h3 {font-size: 64px;
    }
    .third .content p {font-size: 34px;
    }

         /* fourth section */
    .four h3 {font-size: 48px;
    }
    .fourth .part_one, .fourth .part_two {flex: 1;
                                          margin: 5px;
    }
    .fourth .part_one img {height: 700px;
    }
    .fourth .part_one h5 {font-size: 24px;
    }
    .fourth .part_two img {height: 320px;
                           width: 100%;
    }
    .fourth .part_two h5 {font-size: 24px;
                          margin-top: 10px;
    }

         /* fifth section */
    .fifth {margin-top: 50px;
    }
    .fifth h2 {font-size: 48px;
    }
    .fifth .slide {display: flex;
                   flex-wrap: wrap;
                   justify-content: center;
    }
    .fifth .slide .part img {width: 350px;
                             margin: 10px 10px 10px 0;
    }
    .fifth .slide .part h5 {font-size: 24px;
    }

         /* sixth section */
    .sixth {margin-top: 50px;
    }
    .sixth .part_one, .sixth .part_two {margin: 20px;
    }
    .sixth .part_one {margin-top: 50px;
    }
    .sixth .part_two {margin-left: 150px;
    }
    .sixth .part_one h3 {font-size: 48px;
    }
    .sixth .part_one p {font-size: 24px;
                        margin-top: 50px;
    }
    .sixth .part_two img {height: 400px;
                          width: 400px;
                          border-radius: 50%;
                          margin-top: 10%;
    }

         /* seventh section */
    .seventh {margin-top: 50px;
    }
    .seventh h2 {font-size: 48px;
    }
    .seventh .slide {display: flex;
                   flex-wrap: wrap;
                   justify-content: center;
    }
    .seventh .slide .part img {width: 350px;
                             margin: 10px 10px 10px 0;
    }
    .seventh .slide .part h5 {font-size: 24px;
    }

         /* eighth section */
    .eighth {margin-top: 100px;
    }
    .eighth .part_two input {font-size: 16px;
                             border-radius: 10px;
                             padding: 10px 60px 10 10px; 
    }
    .eighth .part_two button {font-size: 16px;
                              border-radius: 10px;
                              width: 150px;
                              height: 40px;
                              padding: auto;
                              margin-left: 20px;
                              color: white;
    }
}